* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body {
    background-image: url("images/sign.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

} */

/* body{
    background-image: linear-gradient(90deg, #000000, #000000, #000000, #000000, #000000, #0b090a, #131113, #181719, #222327, #2b3135, #343f42, #4d5050);
} */
header {
    width: 100%;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #0d6db7;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    width: 80px;
    display: flex;
    align-items: center;

}

.logo>img {
    width: 100%;
    height: 40px;

}

.git>a {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
}

.main {
    width: 100%;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.box {
    width: 450px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    background-color: white;
    padding: 20px;
    border-top: 1px solid #0d6db7;
    border-bottom: 1px solid #0d6db7;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: cursive;
    color: #0d6db7;
}

.icn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #0d6db7;
}

.email {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: gray;
    border-bottom: 1px solid #0d6db7;
    padding: 10px;
}

.main-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn>button {
    border: none;
    background-color: white;
    color: #0d6db7;
    padding: 8px 15px;
    cursor: pointer;
    border: 1px solid #0d6db7;
}

.btn>button:active {
    background-color: #0d6db7;
    color: white;
}


@media screen and (max-width:500px) {
    header {
        padding: 10px 40px;
    }

    .main {
        padding: 40px;
    }

    .box {
        width: 300px;
        gap: 20px;
    }

    .head {
        font-size: 1.5rem;
    }

    .icn {
        font-size: 2.5rem;
    }

    .email {
        font-size: 0.8rem;
    }

    .btn>button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
    .logo {
        width: 70px;
    }
}