* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body {
    background-image: url("images/sign.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

} */

/* body{
    background-image: linear-gradient(90deg, #000000, #000000, #000000, #000000, #000000, #0b090a, #131113, #181719, #222327, #2b3135, #343f42, #4d5050);
} */
header {
    width: 100%;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #0d6db7;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    width: 80px;
    display: flex;
    align-items: center;

}

.logo>img {
    width: 100%;
    height: 40px;

}

.git>a {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
}

.main {
    width: 100%;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.box {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-top: 1px solid #0d6db7;
    border-bottom: 1px solid #0d6db7;
    background: transparent;

}

.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    font-family: cursive;
    color: #0d6db7;
    border: 1px solid white;
    padding: 10px;
}

input::placeholder {
    color: silver;
}

.boxes {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-top: 1px solid #0d6db7;
    border-bottom: 1px solid #0d6db7;
    background: transparent;

}

.email {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
    color: #0d6db7;

}

.emails {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
    color: gray;
    border-bottom: 1px solid #0d6db7;
    font-weight: bolder;
}

.pro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #0d6db7;

}

.email>input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #0d6db7;
    background-color: transparent;
    padding: 2px 20px;
    font-size: 1rem;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.email>input:focus {

    outline: none;
}

.password {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
    color: #0d6db7;
}

.password>input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #0d6db7;
    background-color: transparent;
    padding: 2px 20px;
    font-size: 1rem;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.password>input:focus {

    outline: none;
}

.btn {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    text-align: center;
    background-color: transparent;
    color: #0d6db7;
    border: 1px solid #0d6db7;
    font-size: 0.8rem;

}

.btn:active {
    background-color: #0d6db7;
    color: white;
}

.btn1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.em {
    color: #0d6db7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    text-align: center;
    background-color: transparent;
    color: white;
    background-color: darkgreen;
    font-size: 0.8rem;
   
}






@media screen and (max-width:500px) {
    header {
        padding: 10px 40px;
    }

    .box {
        width: 300px;
        gap: 40px;
    }

    .boxes {
        gap: 30px;
        padding: 20px 15px;
    }

    .pro {
        font-size: 2rem;
    }

    .btn {
        font-size: 0.7rem;
    }
    .btn1 {
        font-size: 0.7rem;
        
    }

    .head {
        font-size: 1.5rem;
    }

    .email>input {
        font-size: 0.9rem;
    }

    .password>input {
        font-size: 0.9rem;
    }

    .email {
        font-size: 1.3rem;
    }

    .password {
        font-size: 1.3rem;
    }

    .emails {
        font-size: 0.7rem;
    }

    .logo {
        width: 70px;
    }
}